*{
  margin:0px;
  padding:0px;
  
  }
body {/*background-image:url();
        background-repeat:no-repeat;
        -webkit-background-size:cover;
         -moz-background-size:cover;
        -o-background-size:cover;
         background-size:cover;
        background-position:center;*/
       }
 .body {
        width:100%;
		clear:both;
	
		
		}
  

.mainheader {
       
        background-image:url(grpheader.jpg);
        background-size:100%;
	   
         }
.mainheader img{
           display:inline;
	       width:100px;
	       height:100px;
	       vertical-align:middle;
		   position:relative;
		   float:left;
		   
		
	       }
.mainheader h1{
           display:inline;
		   color:white;
	
       
	       }
.menu {
       background-color:#d9d9d9;
	   height:40px;
	   border-radius:5px;
      }

.menu ul{
      list-style:none;
      margin:0 auto;
	  }
.menu ul li{
           float:left;
	       font:bold 14px Tahoma;
	       display:inline-block;
		   padding-top:10px;
           }
.menu a:link, .menu a:visited {
             color:#999999;
             text-decoration:none;
			 padding:10px 25px;
			 height:20px;
	         }
.menu a:hover, .menu a:active {
                                background-color:#990000;
								color:white;
						      }
.menu ul li a{
             border-radius:5px;
			 }
.booknow {
	    background-image:url(i5.jpg);
        background-repeat:no-repeat;
        -webkit-background-size:cover;
         -moz-background-size:cover;
        -o-background-size:cover;
         background-size:cover;
        background-position:center;
		height:300px;
}
.booknow {
	       text-align:center;
		   vertical-align:middle;
}
.booknow a { text-decoration:none;
			
			
			}
.booknow a p {
	        position:relative;
			border:1px solid black;
			border-radius:20px;
			text-align:center;
			vertical-align:middle;
			margin-top:10%;
			width:40%;
			margin-left:32%;
			font-size:200%;
			color:white;
			box-shadow:rgb(110, 110, 110)10px 10px 10px;
}

 @media only screen and (min-width:150px) and (max-width:640px){
	.menu {
		    height:190px;

	      }
	
	.menu ul{
		padding-left:0;
	}
	
	.menu ul li {
		width:100%;
		text-align:center;
	}
	.menu a:link, .menu a:visited {
		padding:10px 25px;
        height:25px;	
        display:block;		
	}
}
	








	
