<style type='text/css'>

 table#format1 {
    border: 6px solid black;
	background-color:#FBBB13;
	align: center;
	}



div#flyplane{
    width: 100px;
    height: 40px;
	//background: blue;
    background-image: url("flyplane.png");
	background-repeat: no-repeat;
    
    //background-attachment: fixed;
	position: relative;
    -webkit-animation: mymove 0s infinite; 
    -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
    animation: mymove 60s infinite;
    animation-delay: 0s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: -10%;}
    to {left: 110%;}
}

@keyframes mymove {
    from {left: -10%;}
    to {left: 110%;}
}




@font-face{
font-family: myfont; 
src: url("Pacifico.ttf");
}

table#banner{text-align:center; width:100%; background-color:#00A9FD;}

div#bigblue{font-size:200%; color:blue; text-align:center; vertical-align:center; background-color:#00A9FD; font-family:'serif';}



p#nav
{
position: absolute;


}



	
</style>