/* ------- BANNER ------- */
/* Dean Jones, Nov.2, 2016 */
	#banner {
		position: static;
		width: 100%;
		max-height: 1.2em;
			/* height: 1.6em; */
		font-size: 1em;
		
			/* background-image: url("images/texture.jpg"); */
		text-align: center;
		clear: both;
		opacity: 0.8;
		margin: 0;
		border: 0;
		/* border: 2px solid #ff00ff; */
		padding: 0;
		color: black;
		background-color: #ccffcc;
		background: linear-gradient(black, white);
	}