	html {
		height:100%;
	}
	body {
		min-height:100%;
		width:100%;
		background-color: black;
		margin: 0;
		border: 0;
		padding: 0;
	}
	
	/* IMAGES LINKS TO RIGHT SIDE */
	#img-array {
		position: absolute;
		height: 15%;
		width: 15%;
		top: 55%;
		right: 2%;
		color: white;
		background-color: black;
	}
	.resize {
		height:100%;
		width:100%;
	}
	img {
		border: solid black 3px;
	}
	
	header, footer {
		position: static;
		width: 100%;
		height: 50%;
		padding: 1em;
		color: white;
		background-color: black;
		font-size: 1em;
		text-align: center;
		/* text-shadow: 2px 2px #ccccb3; */
		clear: both;
			/* IMAGE BACKGROUND */
			/* DOESN'T WORK WITH LOGO? */
			/*background-image: url("images/texture.jpg");*/
			/*background-blend-mode: color-dodge;*/
			/*opacity: 0.9;*/
	}
	header {
		font-family: "Jokerman", "Helvetica Rounded", "Arial Rounded MT Bold", Arial, sans-serif;
	}
	footer {
		font-family: "Helvetica Rounded", "Arial Rounded MT Bold", Arial, sans-serif;
	}
	main {
/* 		position:static;
		top:120px;
		height:50%; */
		width:100%;								/* RIGHT SIDE OF SCREEN IS NO BACKGROUND COLOR? */
		background-color:black;
		/* overflow:scroll; */
	}
	
	/*--------- NAVBAR STYLES ----------*/
	nav {
	text-indent: 1em;
    list-style-type: none;
	background-color: #669999;
	text-align: left;
    padding: 0.125em;
	font-family: "Helvetica Rounded", "Arial Rounded MT Bold", Arial, sans-serif;
	border: 2px solid #ff00ff;
	
	/* IMAGE BACKGROUND */
	background-image: url("images/texture.jpg");
	opacity: 0.9;
	/* See .navbar for (color:) */		
	}
	.navbar {
	padding-left: 1em;
	padding-right: 1em;
	color: #ffffff;
	}
	/* Hover Control */
	.navbar:hover { 
		background-color: #ff00ff;
		/* FLICKERS font-size: 1.1em; */
	}
	/*--------- NAVBAR STYLES ----------*/
	
	p {
		clear: left;
	}
	p.normal {
		font-weight: normal;
	}
	p.thick {
		font-weight: bold;
	}
	article, address, table {
		margin-left: 0;
		border-left: 1px solid gray;
		padding: 2em;
		color: black;
		background-color: gray;
		overflow: hidden;
		font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
		font-size: 1.2em;
		clear: right;
		
	}
	/*HOVER FOR CONTACT AND REGISTER LINKS*/
	.img-link:hover {
		opacity: 0.6;
	}
	form, table {
		min-height:100%;
		width:100%;
		margin: 0;
		/* background-color: #66a3ff; */
		/* border: 0; */
		/* padding: 0; */
		
		margin-left: 0;
		border-left: 1px solid gray;
		padding: 2em;
		color: black;
		overflow: hidden;
		font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
		/* font-size: 1em; */
		clear: right;
	}
	#header-left {
		float: left;
		width: 160px;
		height: 240px;
		/* margin: 10px; */
		margin-left: auto;
		margin-right: auto;
		border: 2px solid #ffffff; 
	}
	#header-right {
		float: right;
		width: 160px;
		height: 240px;
		/* margin: 10px; */
		margin-left: auto;
		margin-right: auto;
		border: 2px solid #ffffff; 
	}
	#footer-left {
		float: left;
		width: 100px;
		height: 100px;
		/* margin: 10px; */
		margin-left: auto;
		margin-right: auto;
		/* border: 2px solid #ffffff; */ 
		padding: 1em;
	}
	#slogan {
	color: #ff00ff;
	padding: 0.1em;
	font-size: 0.75em;
	}