


	#upleft { width:20%; height: 20%; background:red; float:left; }
	#upright { width:80%; height:20%; background:blue; float:left }
	#below { height:80%; width:100%; background:green; clear:both }
	#area1 { height:100%; width:100%; background:green; clear:both }
	
	body {
		font-size: 100%;
		background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	}
	
	nav {
		font-size: 1.2em;
	}

	h1 {
 		font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
		/* font-size: 60px; */
		font-size: 3.2em;
		font-style: bold;
		text-shadow: 2px 2px #ffffb3;
	}

	h2 {
		font-size: 1.6em;
	}

	p {
		font-size: 1.0em;
		color: blue;
	}
	/* Hover Control */
	a:hover { 
		background-color: pink;
		
	}
	/* Animate */
	.anim {
		-webkit-animation-delay: 3s; 
		animation-delay: 3s;
	}
	
	/* Navbar */
	.menu_border{border-style: groove;}
	.general_border{border-style: solid;}	/* General Border */
	.t_border{border-style: dotted;}		/* Test Border */
	



