<!DOCTYPE html>
<html>
	<head>	
		<title> my title on tab </title>		<!--TAB ON BROWSER-->
	<style>
		html {
			height:100%;
		}
			body {
				min-height:100%;
				width:100%;
				background-color: #FFCC00;
				margin: 0;
				border: 0;
				padding: 0;
			}
				header {
					background-color: yellow;
				}
				nav {
					background-color: red;
				}
				main {
					background-color: gray;
				}
				footer {
					background-color: cyan;
				}
					div, p{
						background-color: pink;
					}
	</style>
	<script></script>
	</head>
		<body>
			<header>
				<h1>header</h1>		<!--DEFAULT HEADER, h1 largest to h6 smallest-->
			</header>
			<nav>my nav bar</nav>
			
			<!---------------------------------------------------------->
			<main>
				<img .../><br />
					<p>My first paragraph.</p>		<!--PARAGRAPH, can have multiple paragraphs-->
					<p>My first paragraph.</p>		<!--PARAGRAPH, can have multiple paragraphs-->
			</main>
			<!---------------------------------------------------------->
			
			<footer>footer</footer>
		<script></script>
	</body>
</html>
	